<div class="heading">
  <h1 class="title">За сайта</h1>
</div>
<div class="about-us">
  <p>
    Целта на дипломният проект е да се създаде онлайн система за споделяне и оценяване на изображения. Предоставя се
    възможност да се разглеждат снимките, качени от други потребители, и да бъдат оценявани чрез предварително спечелени
    точки. Бизнес моделът се основава на концепцията всеки човек да може да влезе в системата и за броени минути да качи
    свои авторски изображения безплатно. От друга страна, потребителите могат да разглеждат вече качените, от различни
    хора, снимки и да гласуват за тях. Най-важното предимство на системата е във възможността всеки да може да се
    регистрира свободно и да изрази себе си и мнението си. Преди да станат публични всички снимки трябва да бъдат
    одобрени от администратор. Основна задача на разработчика на приложението е да осигури безупречна интеграция между
    различните технологии и да предостави добре работещ и естетически издържан продукт. Системата цели да насърчи повече
    млади таланти да се развиват и да споделят създадените от тях изображения, като едновременно с това да могат да
    оценяват и да черпят вдъхновение от снимките на своите колеги.
  </p>
  <p>
    Потребителите на системата имат достъп до следните функционални звена:
  </p>
  <ul>
    <li> Регистрационен модул – регистрация на потребители;</li>
    <li> Потребителски профил – попълване на лични данни;</li>
    <li> Модул „качване на снимки“ – позволява споделяне на снимки в системата;</li>
    <li> Модул „разглеждане на снимки“ – позволява на потребителя да се забавлява, като разглежда вече качените снимки;
    </li>
    <li> Модул „оценка“ – позволява на потребителя да оценява снимки, които са го впечатлили.</li>
  </ul>
</div>
